[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/bschwind/assimp.git
[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/bschwind/enet.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/bschwind/glew-cmake.git
[submodule "lib/android-ifaddrs"]
	path = lib/android-ifaddrs
	url = https://github.com/bschwind/android-ifaddrs.git
[submodule "lib/net-adapter"]
	path = lib/net-adapter
	url = https://github.com/bschwind/net-adapter-cmake.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/bschwind/glfw.git
